PORT=3000
NODE_ENV=development

# --- Database (Prisma / MongoDB) ---
DATABASE_URL="mongodb://127.0.0.1:27017/sass?maxPoolSize=50"

# --- Redis Configuration ---
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB_CACHE=0

# --- MinIO Configuration ---
MINIO_ENDPOINT=127.0.0.1
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123
